<template>
  <div class="home-wrapper">主页</div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "Homepage"
});
</script>

<style lang="scss" scoped></style>
