<template>
  <div class="login-wrapper">
    <div class="logo">
      <!-- <img src="@/assets/image/logo-title.png" class="logo-image" />
      <img src="@/assets/image/login-title.png" /> -->
    </div>
    <div class="wrapper">
      <div class="login">
        <div class="type">
          <span :class="{ 'active-type': loginType === 'idForm' }" @click="loginType = 'idForm'">欢迎登录</span>
        </div>
        <!-- 账号登陆 -->
        <el-form ref="idForm" :model="idForm" :rules="rules" v-if="loginType === 'idForm'">
          <el-form-item prop="username" class="base">
            <el-input v-model="idForm.username" placeholder="账号">
              <template #prefix>
                <i class="iconfont icon-zhanghao"></i>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item prop="password" class="base">
            <el-input v-model="idForm.password" type="password" placeholder="密码">
              <template #prefix>
                <i class="iconfont icon-mima"></i>
              </template>
            </el-input>
          </el-form-item>
          <!-- <el-checkbox v-model="checkbox">下次自动登录</el-checkbox> -->
          <el-button class="login-button" type="primary" :loading="loading" @click="handleLogin">登录</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      loading: false,
      mesLoading: false,
      loginType: "idForm",
      redirect: null,
      otherQuery: null,
      checkbox: false,
      rules: {
        username: [
          {
            required: true,
            message: "请输入账号",
            trigger: "blur"
          }
        ],
        phone: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          }
        ]
      },
      idForm: {
        username: "admin",
        password: "123456"
      },
      messageForm: {
        phone: "",
        phoneCaptcha: ""
      }
    };
  },
  watch: {
    $route: {
      handler(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    },
    loginType(newV, oldV) {
      this.$refs[oldV].clearValidate();
    }
  },
  methods: {
    handleLogin() {
      this.$refs.idForm.validate(valid => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.idForm)
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleMessageLogin() {
      this.$refs.messageForm.validate(valid => {
        if (valid) {
          this.mesLoading = true;
          this.$store
            .dispatch("user/login", {
              ...this.messageForm,
              loginType: "telephone"
            })
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.mesLoading = false;
            })
            .catch(() => {
              this.mesLoading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>

<style lang="scss" scoped>
.login-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 7.5vh;
  padding-left: 41px;
}

.logo-image {
  width: 41.8px;
  height: 45.4px;
  margin-right: 11px;
}

.wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  background: url(../assets/image/bg.png) no-repeat 100% / cover;
}

.login {
  width: 480px;
  padding: 59px;
  margin: auto;
  margin-right: 160px !important;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 10px 0 rgba(0, 140, 245, 0.5);
}

.type {
  height: 23px;
  font-family: Source Han Sans CN;
  font-size: 24px;
  font-weight: 500;
  color: #223044;

  span {
    cursor: pointer;
  }
}

.active-type {
  font-size: 26px;
  color: #333;
}

.cut-off {
  width: 1px;
  height: 16px;
  vertical-align: middle;
  background-color: #e0e0e0;
}

.other {
  color: $theme-color;
}

.base {
  margin-top: 30px;

  :deep(input) {
    width: 360px;
    height: 60px;
    padding-left: 50px;
    font-size: 16px;
    border-radius: 4px;
  }

  :deep(.el-input__prefix) {
    left: 20px;
    display: flex;
    align-items: center;
    color: #223044;
  }
}

.login-button {
  display: block;
  width: 360px;
  height: 60px;
  margin-top: 43px;
  border-radius: 4px;
}

.code-input {
  width: 60%;
  margin-right: 20px;
}
</style>
