<template>
  <div class="sidebar-logo-container">
    <transition name="sidebarLogoFade">
      <div class="sidebar-logo-link">
        <img :src="logo" class="sidebar-logo" />
        <div class="sidebar-title">{{ title }}</div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "SidebarLogo",
  data() {
    return {
      title: "后台管理系统",
      logo: "https://cn.vuejs.org/images/logo.png"
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  height: 50px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 50px;
  text-align: left;

  & .sidebar-logo-link {
    height: 100%;

    & .sidebar-logo {
      width: 30px;
      height: 30px;
      margin-right: 12px;
      vertical-align: middle;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      // font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 50px;
      color: #fff;
      vertical-align: middle;
    }
  }

  &.collapse {
    padding-left: 0;
    text-align: center;

    .sidebar-logo {
      margin-right: 0;
    }
  }
}
</style>
