<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "App"
});
</script>

<style lang="scss" scoped>
.app {
  overflow-x: auto;
  overflow-y: hidden;
}
</style>
